[submodule "Assets/LibNoise.Unity"]
	path = Assets/LibNoise.Unity
	url = https://github.com/ricardojmendez/LibNoise.Unity.git
[submodule "Assets/NavMeshComponents"]
	path = Assets/NavMeshComponents
	url = https://github.com/Unity-Technologies/NavMeshComponents.git
